{% load bootstrap4 %}<!--加载bootstrap4的模板标签集-->
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
      shrink-to-fit=no">
   <title>Learning Log</title>
     {% bootstrap_css %} <!--使用django-bootstrap4的一个自定义模板标签，让Django包含所有的Bootstrap样式文件-->
     {% bootstrap_javascript jquery='full'%}

 </head>
 <body>
<!-- <nav>元素，表示页面的导航链接部分-->
<!--选择器navbar-light和bg-light使用一种浅色主题来设置导航栏的颜色-->
<!--mb-4中的mb表示下边距(margin-bottom)，这个选择器确保导航栏和页面其他部分之间有一些空白区域。选择器border在浅色背景周围添加很细的边框，将导航栏与页面其他部分分开-->
       <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
<!--navbar-brand设置这个链接的样式，使其比其他链接更显眼-->
     <a class="navbar-brand" href="{% url 'learning_logs:index'%}">
          Learning Log</a>
<!--按钮，它将在浏览器窗口太窄、无法水平显示整个导航栏时显示出来。如果用户单击这个按钮，将出现一个下拉列表，其中包含所有的导航元素。在用户缩小浏览器窗口或在屏幕较小的移动设备上显示网站时，collapse会导致导航栏折叠起来。-->
     <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="{% url 'learning_logs:topics'%}">
                Topics</a></li>
         </ul>
<!-- 选择器ml-auto表示自动左边距(margin-left-automatic)，它根据导航栏包含的其他元素设置左边距，确保这组链接位于屏幕右边。-->
       <ul class="navbar-nav ml-auto">
         {% if user.is_authenticated %}
            <li class="nav-item">
             <span class="navbar-text">Hello,{{ user.username }}.</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout'%}">Log out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:register'%}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login'%}">Log in</a></li>
          {% endif %}
      </ul>
   </div>
  </nav>
<!--<main>元素用于定义页面主体的最重要部分,指定了Bootstrap选择器container，这是一种对页面元素进行编组的简单方式-->
    <main role="main" class="container">
     <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
      </div>
     <div>
        {% block content %}{% endblock content %}
      </div>
    </main>
 </body>
</html>